{% extends "base.html" %}
{% load i18n %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
<div class="container">
  <br/><h1 class="text-center">{% trans 'Contact' %}</h1><br/>
  <p>
    Francisco Javier Revilla Linares<br/>
    Leuthener Stra&szlig;e 9<br/>
    10829 Berlin<br/><br/>
  </p>
  <p>
    {% trans 'Telephone' %}: +49 17663622753<br/>
    E-Mail: <a href="mailto:franciscojavier.revilla@gmail.com">franciscojavier.revilla (at) gmail.com</a><br/>
  </p>
</div>
{% endblock %}
