{% extends "base.html" %}

{% block title %}Condiciones del servicio{% endblock %}


{% block content %}
<span class="fecha">1 Enero 2016</span>

<p>&nbsp;</p>

<h2>1. Introducci&oacute;n</h2>

<p>Las presentes condiciones generales de uso de la p&aacute;gina web, regulan los t&eacute;rminos y condiciones de
    acceso y uso de {{ name }}, propiedad de (indicar el nombre de la empresa o profesional propietario de el portal),
    con domicilio en (indicar) y con C&oacute;digo de Identificaci&oacute;n Fiscal n&uacute;mero (indicar), en adelante,
    &laquo;la Empresa&raquo;, que el usuario del Portal deber&aacute; de leer y aceptar para usar todos los servicios e
    informaci&oacute;n que se facilitan desde el portal.&nbsp;El mero acceso y/o utilizaci&oacute;n del portal, de todos
    o parte de sus contenidos y/o servicios significa la plena aceptaci&oacute;n de las presentes condiciones generales
    de uso.&nbsp;</p>

<h2>2. Condiciones de uso</h2>

<p>Las presentes condiciones generales de uso del portal regulan el acceso y la utilizaci&oacute;n del portal, incluyendo los contenidos y los servicios puestos a disposici&oacute;n de los usuarios en y/o a trav&eacute;s del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilizaci&oacute;n de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones espec&iacute;ficas.</p>

<h2>3.&nbsp;&nbsp; Modificaciones</h2>

<p>La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte peri&oacute;dicamente los presentes&nbsp;t&eacute;rminos de uso del portal, ya que pueden ser modificados.</p>

<h2>4. Obligaciones del Usuario</h2>

<p>El usuario deber&aacute; respetar en todo momento los t&eacute;rminos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizar&aacute; el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.</p>

<p>As&iacute; mismo, el usuario no podr&aacute; utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro c&oacute;digo inform&aacute;tico, archivos o programas dise&ntilde;ados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo inform&aacute;tico o de telecomunicaciones.</p>

<h2>5. Responsabilidad del portal</h2>

<p>El usuario conoce y acepta que el portal no otorga ninguna garant&iacute;a de cualquier naturaleza, ya sea expresa o impl&iacute;cita, sobre los datos, contenidos, informaci&oacute;n y servicios que se incorporan y ofrecen desde el Portal.</p>

<p>Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensi&oacute;n en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles da&ntilde;os y perjuicios causados por el uso y utilizaci&oacute;n de la informaci&oacute;n, datos y servicios del Portal.</p>

<p>En todo caso, el Portal excluye cualquier responsabilidad por los da&ntilde;os y perjuicios que puedan deberse a la informaci&oacute;n y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad ser&aacute; del tercero ya sea proveedor o&nbsp;colaborador.</p>

<h2>6. Propiedad intelectual e industrial</h2>

<p>Todos los contenidos, marcas, logos, dibujos, documentaci&oacute;n, programas inform&aacute;ticos o cualquier otro elemento susceptible de protecci&oacute;n por la legislaci&oacute;n de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus leg&iacute;timos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creaci&oacute;n de enlaces de hipertexto (links) a cualquier elemento integrante de las p&aacute;ginas web del Portal sin la autorizaci&oacute;n de la empresa, siempre que no sean a una p&aacute;gina web del Portal que no requiera identificaci&oacute;n o autenticaci&oacute;n para su acceso, o el mismo est&eacute; restringido.</p>

<p>En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, informaci&oacute;n datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorizaci&oacute;n de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.</p>

<h2>7. Legislaci&oacute;n aplicable, jurisdicci&oacute;n competente y notificaciones</h2>

<p>Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de Espa&ntilde;a. Para cualquier
    reclamaci&oacute;n ser&aacute;n competentes los juzgados y tribunales de (indicar la ciudad). Todas las
    notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa
    titular del Portal deber&aacute;n realizarse por escrito y se entender&aacute; que han sido correctamente realizadas
    cuando hayan sido recibidas en la siguiente direcci&oacute;n {{ email }}.</p>

{% endblock %}