{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row"><br><br></div>

<div id="states">
    {% for key, value in countries.items %}
      {% if key == region %}
          <a class="nav-link text-uppercase active" href="{{key}}">{% trans value %}</a>
        {% else %}
          <a class="nav-link text-uppercase" href="{{key}}">{% trans value %}</a>
      {% endif %}
    {% endfor %}
</div>

<hr>


<h6>{% trans 'All jobs in' %} {% trans country %}</h6>

<table id="jobs-table"></table>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

{% endblock %}

