{% extends "base.html" %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
<div class="container">
  <br/><h1 class="text-center">Legal und Privacy</h1><br/>
  <p>
    We respect your privacy. Your contact information will never be sold
    to third-parties and we strictly limit the volume of informational and
    or promotional emails we send out.
  </p>
  <p>
    We send notifications to an email you provide. This email address
    will never be sold to third-parties.
  </p>
  <p>
    We record your IP address in our access logs.
  </p>
  <p>
    We use links to external websites and we have no influence on the
    privacy policies of external websites.
  </p>
  <p>
    We use Google Analytics including advanced features that may collect
    demographic information about you if it is present. Privacy policy
    of google analytics:<br/>
    <a href="https://support.google.com/analytics/answer/6004245?hl=en">https://support.google.com/analytics/answer/6004245?hl=en</a>.<br/>
    Deactivation of google analytics:<br/>
    <a href="https://tools.google.com/dlpage/gaoptout?hl=en">https://tools.google.com/dlpage/gaoptout?hl=en</a>
  </p>
</div>
{% endblock %}
